/* Geral */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
:root {
  --bg-color: #1e1e1e;
  --text-color: #e5e5e5;
  --border-color: #17795e;
  --button-color: #209978;
  --fixed : #3c3c3f;
}
body {
  background-color: var(--bg-color);
}

/* Cabeçalho */
header {
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 2rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Button */
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #17795e;
  background-color: #209978;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  margin-left: -8px;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #17795e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #17795e;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}
/* Input de pesquisa */
#search-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#search-input {
  background-color: #525356;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: var(--text-color);
  width: 400px;
  outline: none;
}

#search-input::placeholder {
  color: #ccc;
  font-weight: 200;
}

#add-note-container {
  display: flex;
  width: 400px;
  margin: 1rem auto 0;
  gap: 1rem;
}

#add-note-container input,
#add-note-container button {
  padding: 10px;
  border-radius: 5px;
}

#add-note-container input {
  flex: 1;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: #ddd;
  outline: none;
}

#add-note-container button {
  cursor: pointer;
  background-color: var(--button-color);
  color: #fff;
  border: none;
}

/* Notas */
#notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 2rem;
  gap: 2rem;
}

.note{
    min-height: 200px;
    padding: 1rem;
    border: 1px solid var(--border-color);
    background-color: #202124;
    border-radius: 10px;
    color: var(--text-color);
    position: relative;
}

.note textarea{
    background-color: transparent;
    resize: none;
    color: var(--text-color);
    border: none;
    height: 100%;
    outline: none;
}

.note .bi-pin{
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: #146c54;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.note .bi-x-lg,
.note .bi-file-earmark-plus{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: .9rem;
    padding: 5px;
    transition: .4s;
    cursor: pointer;
    transition: .4s;
    color: #555;
    opacity: 0;
}

.note:hover > i{
    opacity: 1;
}

.note .bi-file-earmark-plus{
    top: 40px;
}


.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover{
    color: #fff;
}

.note.fixed{
    background-color: var(--fixed);
}

/* Responsividade */
@media(max-width:768px){
    header{
        width: 100%;
        gap: 1.2rem;    
    }
   .note > i{
    opacity: 1;
  }
}

@media(max-width: 450px){

    header{
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    #search-container{
        width: 100%;
    }

    #search-input{
        width: 100%;
    }

    #add-note-container{
        width: 100%;
        padding: 0 2rem;
    }

    #notes-container{
        grid-template-columns: repeat(auto-fill, 100%);
    }
}
